body {
    margin: 0;
    background-image: url(../images/backgroundForBooksPage.jpg);
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

/*КНОПКА ДЛЯ ПЕРЕХОДА В addBook/addAuthor*/
.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}
.floating-button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
}
/*ЦИТАТЫ*/
blockquote {
    margin: 0;
    color: #231E28;
    padding: 30px 30px 30px 60px;
    border-left: 8px solid #CBDDE7;
    position: absolute;
    background: #FAF8EB;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    opacity: 0.6;
    filter: alpha(Opacity=60);
    right: 10px;
    bottom: 10px;
}
blockquote:before{
    content: "\201C";
    font-family: Arial;
    color: #CBDDE7;
    font-size: 70px;
    position: absolute;
    left: 15px;
    top: 5px;
}
blockquote p {
    font-style: italic;
    font-size: 24px;
    margin-top: 0;
}
/* ГОРИЗОНТАЛЬНОЕ ВЫПАДАЩЕЕ МЕНЮ */
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script|Libre+Baskerville);
nav {
    text-align: center;
    padding: 40px 0 0;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a {
    text-decoration: none;
    display: block;
    color: #222;
}
.topmenu > li {
    display: inline-block;
    position: relative;
}
.topmenu > li > a {
    position: relative;
    padding: 10px 15px;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5em;
    line-height: 1;
    letter-spacing: 3px;
}
.topmenu > li > a:before {
    content: "";
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 100%;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, 20px);
    opacity: 0;
    transition: .3s;
}
.topmenu li:hover a:before {
    transform: translate(-50%, 0);
    opacity: 1;
}
.submenu {
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 100%;
    width: 150px;
    padding: 15px 0 15px;
    margin-top: 5px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 20px);
    transition: .3s;
}
.topmenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
}
.submenu a {
    font-family: 'Libre Baskerville', serif;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 5px 10px;
    transition: .2s linear;
}
.submenu a:hover {background: #e8e8e8;}